.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}
   
.pages {
    cursor: pointer;
}

.addBtn {
    font-size: 18px;
    line-height: 1.5rem;
    padding: 0.25rem 2rem;
    background: #ff8066;
    color: #fff;
    border-radius: 1.5rem;
    letter-spacing: 0.3px;
    font-weight: normal;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0 0 25px;
}

.Btn:hover {
    background: #2186c4;
    border-color: #2186c4;
    color: #fff;
}