.friendsBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.friendsBlock img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 15px;
}

.friendsBlock p {
    font-size: 15px;
    margin: 0;
}