.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
}

.addBtn {
    font-size: 18px;
    padding: 0.25rem 2rem;
    background: #ff8066;
    color: #fff;
    border-radius: 1.5rem;
    letter-spacing: 0.3px;
    font-weight: normal;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    border: 2px solid black;
    margin-top: 10px;
}

.addBtn:hover {
    background: #2186c4;
    border-color: #2186c4;
    color: #fff;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

input[type="file"] {
    display: none;
}

.profileInfo {
    display: flex;
    flex-direction: column-reverse;
}

.formSummaryError {
    margin-top: 10px;
    width: 300px;
    border: 1px red solid;
    padding: 5px;
    color: red;
}